* {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

$nav-link-color: grey;
$container-max-widths: (
    sm: 500px,
    md: 600px,
    lg: 700px,
    xl: 800px,
    xxl: 900px
);
$primary: #FF3131;

.text-primary-colour {
    color: $primary;
}

.row-colour {
    height: 500px;
    width: auto;
    background-color: #FFF2F2;
}

.row-colour h1 {
    margin-top: 30px;
    margin-left: 50px;
}

.contact img {
    height: 50px;
    width: auto;
}