* {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

$nav-link-color: grey;
$container-max-widths: (
    sm: 500px,
    md: 600px,
    lg: 700px,
    xl: 800px,
    xxl: 900px
);
$primary: #FF3131;

.text-primary-colour {
    color: $primary;
    font-weight: 500;
}

.row-colour {
    height: 450px;
    width: auto;
    background-color: #FFF2F2;
}

.about-text {

    margin-top: 30px;
    margin-left: 50px;
}

.contact img {
    height: 50px;
    width: auto;
}

.card {
    max-width: 300px;
}

.email {
    max-width: 150px;

}

.highlight-text {
    font-style: italic;
}