* {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

$nav-link-color: grey;
$container-max-widths: (
    sm: 500px,
    md: 600px,
    lg: 700px,
    xl: 800px,
    xxl: 900px
);
$primary: #FF3131;

.text-primary-colour {
    color: $primary;
    font-weight: 500;
}



.row-colour {
    max-width: auto;
    background-color: #FFF2F2;
}

.about-text {

    margin-top: 30px;
    margin-left: 50px;
}

.contact img {
    height: 50px;
    width: auto;
}

.card {
    max-width: 300px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 10px 50px 10px 20px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    background-color: #f4f4f4;
}

.email {
    max-width: 150px;

}

.highlight-text {
    font-style: italic;
}

.nav-link {
    display: inline-block;
    position: relative;
    color: $primary;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}